*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: gray;
}

img{
  width: 150px;
  height: 150px;
}

p{
  color: white;
  background-color: darkslategray;
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

ul{
  margin-left: 20px;

  color: white;
}